flows.json
[
    {
        "id": "9cb027c7d456e173",
        "type": "tab",
        "label": "Virtual Devices",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c128b1a0c1888636",
        "type": "mqtt in",
        "z": "9cb027c7d456e173",
        "name": "Füllstand_mm",
        "topic": "fuellstand/distance_mm",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "707988a6d8352b22",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "16b5a057ffb46bbc",
        "type": "mqtt in",
        "z": "9cb027c7d456e173",
        "name": "temperature",
        "topic": "fuellstand/temperature_c",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "707988a6d8352b22",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d09aee1aaf383783",
        "type": "mqtt in",
        "z": "9cb027c7d456e173",
        "name": "Liters",
        "topic": "fuellstand/liters",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "707988a6d8352b22",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "274e4a6433ac3bb1",
                "e8067adb50b53704",
                "e6f63a15fe507578"
            ]
        ]
    },
    {
        "id": "274e4a6433ac3bb1",
        "type": "ui_level",
        "z": "9cb027c7d456e173",
        "group": "eb6ee5683530d96b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "d49ac2c4edf2d88c",
        "type": "victron-output-custom",
        "z": "9cb027c7d456e173",
        "service": "com.victronenergy.tank/100",
        "path": "/Level",
        "serviceObj": {
            "service": "com.victronenergy.tank/100",
            "name": "Frischwasser_MQTT (100)"
        },
        "pathObj": {
            "path": "/Level",
            "name": "/Level",
            "type": "number",
            "value": 50
        },
        "name": "",
        "onlyChanges": false,
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "e8067adb50b53704",
        "type": "range",
        "z": "9cb027c7d456e173",
        "minin": "0",
        "maxin": "85",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Liters to Percent",
        "x": 340,
        "y": 280,
        "wires": [
            [
                "d49ac2c4edf2d88c"
            ]
        ]
    },
    {
        "id": "f41ffd543597f4fa",
        "type": "victron-output-custom",
        "z": "9cb027c7d456e173",
        "service": "com.victronenergy.tank/100",
        "path": "/Remaining",
        "serviceObj": {
            "service": "com.victronenergy.tank/100",
            "name": "Frischwasser_MQTT (100)"
        },
        "pathObj": {
            "path": "/Remaining",
            "name": "/Remaining",
            "type": "object",
            "value": null
        },
        "name": "Remaining water level m^3 ",
        "onlyChanges": false,
        "x": 540,
        "y": 400,
        "wires": []
    },
    {
        "id": "e6f63a15fe507578",
        "type": "range",
        "z": "9cb027c7d456e173",
        "minin": "0",
        "maxin": "85",
        "minout": "0",
        "maxout": "0.085",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "Liters to m^3",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "f41ffd543597f4fa"
            ]
        ]
    },
    {
        "id": "a693fe51425ae6ef",
        "type": "victron-virtual",
        "z": "9cb027c7d456e173",
        "name": "Frischwasser",
        "device": "tank",
        "default_values": false,
        "battery_capacity": 25,
        "include_battery_temperature": false,
        "grid_nrofphases": 1,
        "include_motor_temp": false,
        "include_controller_temp": false,
        "include_coolant_temp": false,
        "include_motor_rpm": true,
        "include_motor_direction": true,
        "position": 0,
        "pvinverter_nrofphases": 1,
        "fluid_type": "1",
        "include_tank_battery": false,
        "include_tank_temperature": false,
        "tank_battery_voltage": 3.3,
        "tank_capacity": "0.085",
        "temperature_type": 2,
        "include_humidity": false,
        "include_pressure": false,
        "include_temp_battery": false,
        "temp_battery_voltage": 3.3,
        "x": 110,
        "y": 360,
        "wires": []
    },
    {
        "id": "707988a6d8352b22",
        "type": "mqtt-broker",
        "name": "LocalMQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "Local_Nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "eb6ee5683530d96b",
        "type": "ui_group",
        "name": "Solar",
        "tab": "6707deba4145f971",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6707deba4145f971",
        "type": "ui_tab",
        "name": "Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]